<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="onglets/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title> A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  
  <ion-card-content>
   
    « Enjoy App » est une application mobile de consultation des centres d’intérêts (Hôtels,
      restaurants, snack bar, stades, etc). L’objectif est de mettre sur pied une application mobile
      qui va permettre à un visiteur d’être guider vers : les différents loisirs, hôtels, restaurants,
      supermarché, prêt à porter dans les pays suivants : Cameroun,Afrique du sud, Cote d'ivoire, Nigeria
    </ion-card-content>
    </ion-card>
<ion-card>
  <ion-card-content>
    <ion-card-title>Developpé par</ion-card-title>
    <img src="assets/images/nashMichel.jpg" alt="">
    Nahsang Mercy & DJOUDJO MICHELE
  </ion-card-content>
</ion-card>
    
  
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" >
      <ion-icon name="home"></ion-icon>
      Accueil
    </ion-tab-button>
    <ion-tab-button tab="acotedemoi">
      <ion-icon name="location"></ion-icon>
      Moi
    </ion-tab-button>
    <ion-tab-button tab="apropos" >
      <ion-icon name="alert-circle"></ion-icon>
      A propos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>