
 
 ion-badge {
  padding: 8px 0;
  border-radius: 18px;
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
  width: 100%;
  text-align: center;



}
ion-icon {
  color : #6874E1;
}
.container {
  display: flex;
  font-size: 10px; 
  padding: 3%;
  }