<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="accueil" href="/onglets/accueil">
        <ion-icon name="home"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="acotedemoi" href="/onglets/acote">
        <ion-icon name="location"></ion-icon>
        Moi
      </ion-tab-button>
      <ion-tab-button tab="apropos"  href="/onglets/apropos">
        <ion-icon name="alert-circle"></ion-icon>
        A propos
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
