<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" >
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label> Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="acote" name="ellipse"></ion-icon>
      <ion-label> Moi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" >
      <ion-icon aria-hidden="apropos" name="location"></ion-icon>
      <ion-label> A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

 

</ion-tabs>
